
.vscode
.env

*.xml
*.pymc
*.pyc
*.whl
*.tar.gz

__pycache__



dist/
build/
pimpmyplot.egg-info/
.venv/
venv/
.pytest_cache

deployinstructions.md

# Sphinx documentation
docs/_build/
docs/_static/*.png